//! **************************************************************************
// Written by: Map P.20131013 on Sat Apr 29 01:08:48 2023
//! **************************************************************************

SCHEMATIC START;
COMP "Z<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "Z<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "A<0>" LOCATE = SITE "V8" LEVEL 1;
COMP "Z<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "A<1>" LOCATE = SITE "U10" LEVEL 1;
COMP "Z<3>" LOCATE = SITE "U19" LEVEL 1;
COMP "A<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "A<3>" LOCATE = SITE "T9" LEVEL 1;
SCHEMATIC END;

