NET "SW<0>"         LOC = "V8"   | IOSTANDARD = LVCMOS33 ;
NET "SW<1>"         LOC = "U10"  | IOSTANDARD = LVCMOS33 ;
NET "SW<2>"         LOC = "U8"   | IOSTANDARD = LVCMOS33 ;
NET "SW<3>"         LOC = "T9"   | IOSTANDARD = LVCMOS33 ;

NET "LEDS<0>"        LOC = "R20"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LEDS<1>"        LOC = "T19"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LEDS<2>"        LOC = "U20"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LEDS<3>"        LOC = "U19"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "LED_A"        LOC = "W21"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED_B"        LOC = "Y22"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED_S"        LOC = "V20"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "BOTAO_A"         LOC = "U15"   | IOSTANDARD = LVCMOS33 ;
NET "BOTAO_B"         LOC = "T15"   | IOSTANDARD = LVCMOS33 ;
NET "BOTAO_S"         LOC = "T16"   | IOSTANDARD = LVCMOS33 ;
NET "BOTAO_RST"         LOC = "T14"   | IOSTANDARD = LVCMOS33 ;
NET "BOTAO_RST" CLOCK_DEDICATED_ROUTE = FALSE; 

NET "clk"         LOC = "E12"   | IOSTANDARD = LVCMOS33 | PERIOD = 20.000;



